<!DOCTYPE html>
<html>

<head>
     <% include partials/head %>
</head>

<body>
     <% include partials/topnav %>

     <div class="container-fluid">
          <div class="row">
               <div class="col">
                    <div class="row">
                         <div class="col">
                              <div class="my-3 p-3 bg-white rounded shadow-sm">
                                   <h6 class="border-bottom border-gray pb-2 mb-0">Art Shows</h6>
                                   <table class="table table-border table-striped">
                                        <thead>
                                             <tr>
                                                  <th>
                                                       <% if(sort == "id" && dir == "asc") { %>
                                                       <a href="/report/artshow?sort=id&dir=desc">
                                                            <%} else { %>
                                                            <a href="/report/artshow?sort=id&dir=asc">
                                                                 <% } %>
                                                                 Art Show ID
                                                                 <% if(sort == "id" && dir == "desc") { %>
                                                                 <i class="fas fa-sort-numeric-up"></i>
                                                                 <%} else if(sort == "id") {%>
                                                                 <i class="fas fa-sort-numeric-down"></i>
                                                                 <%} else { %>
                                                                 <i class="fas fa-sort"></i>
                                                                 <% } %>
                                                            </a></th>
                                                  <th>
                                                       <% if(sort == "lname" && dir == "asc") { %>
                                                       <a href="/report/artshow?sort=lname&dir=desc">
                                                            <% } else { %>
                                                            <a href="/report/artshow?sort=lname&dir=asc">
                                                                 <% } %>
                                                                 Last Name
                                                                 <% if(sort == "lname" && dir == "desc") { %>
                                                                 <i class="fas fa-sort-alpha-up"></i>
                                                                 <%} else if(sort == "lname") {%>
                                                                 <i class="fas fa-sort-alpha-down"></i>
                                                                 <%} else { %>
                                                                 <i class="fas fa-sort"></i>
                                                                 <% } %></a></th>
                                                  <th>First Name</th>
                                                  <th>
                                                       <% if(sort == "date" && dir == "asc") { %>
                                                       <a href="/report/artshow?sort=date&dir=desc">
                                                            <% } else { %>
                                                            <a href="/report/artshow?sort=date&dir=asc">
                                                                 <% } %>
                                                                 Show Date
                                                                 <% if(sort == "date" && dir == "desc") { %>
                                                                 <i class="fas fa-sort-alpha-up"></i>
                                                                 <%} else if(sort == "date") {%>
                                                                 <i class="fas fa-sort-alpha-down"></i>
                                                                 <%} else { %>
                                                                 <i class="fas fa-sort"></i>
                                                                 <% } %></a></th>
                                                  <th>Contact Name</th>
                                                  <th>Contact Phone Number</th>
                                                  <th>Location</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                             <% artshows.forEach(function(artshow) { %>
                                             <tr>
                                                  <td>
                                                       <%= artshow.ArtShowID %>
                                                  </td>
                                                  <td>
                                                       <%= artshow.LastName %>
                                                  </td>
                                                  <td>
                                                       <%= artshow.FirstName %>
                                                  </td>
                                                  <td>
                                                       <%= artshow.ShowDate.toLocaleDateString(); %>
                                                  </td>
                                                  <td>
                                                       <%= artshow.ContactName %>
                                                  </td>
                                                  <td class="phone-number">
                                                       <%= artshow.ContactPhoneNumber %>
                                                  </td>
                                                  <td>
                                                       <%= artshow.Location %>
                                                  </td>
                                             </tr>
                                             <% }); %>
                                        </tbody>
                                   </table>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</body>

<% include partials/scripts %>

</html>
